.module {
  display: flex;
  justify-content: space-evenly;
  width: 1440px;
  height: 960px;
  background: #FFFFFF;
  margin: 96px auto 0 auto;
  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $dark;
    opacity: 0.5;
  }
  .alert {
    position: absolute;
    width: 920px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    opacity: 1;
    padding: 56px 95px;
    &__close {
      position: absolute;
      top: 46px;
      right: 46px;
      font-size: 1.2rem;
      cursor: pointer;
    }
    &__title {
      font-size: 4.2rem;
      color: $dark;
      font-weight: 700;
      margin: 0;
    }
    &__text {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 150%
    }
    &__count {
      font-weight: 700;
    }
  }
  .img-hero {
    width: 505px;
    height: 330px;
    background: url("../../images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg") center;
    background-size: cover;
  }
  .content {
    width: 380px;
    height: 250px;
    &__title {
      font-size: 4.2rem;
      font-weight: 700;
      color: $dark;
      width: 380px;
      height: 50px;
      line-height: 120%;
    }
    &__text {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 150%;
      color: $dark;
    }
    &__btn {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 100%;
      color: #FFFFFF;
      text-transform: capitalize;
      background: $primary;
      padding: 16px 40px;
      border-radius: 32px;
      border: none;
      cursor: pointer;
    }
  }
}