@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

$dark: #121212;
$primary: #E4C1AE;

@mixin title{
  font-size: 4.2rem;
  color: $dark;
  font-weight: 700;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}